{% extends 'base.html.twig' %}

{% block title %}Publishers list{% endblock %}

{% block body %}

    {{ include('publisher/_form.html.twig') }}

    <hr>

    <ul class="nav nav-pills nav-fill" id="publisher-type-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true"><i class="fas fa-globe"></i> All</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="play-store-tab" data-toggle="tab" href="#play-store" role="tab" aria-controls="play-store" aria-selected="false"><i class="fab fa-google-play"></i> PlayStore</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="app-store-tab" data-toggle="tab" href="#app-store" role="tab" aria-controls="app-store" aria-selected="false"><i class="fab fa-app-store"></i> AppStore</a>
        </li>
    </ul>

    <hr>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            {% for publisher in publishers %}
                {{ include('publisher/_view.html.twig') }}
                <hr>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="play-store" role="tabpanel" aria-labelledby="play-store-tab">
            {% for publisher in publishers %}
                {% if publisher.type == constant('App\\Entity\\Publisher::TYPE_PLAY_STORE') %}
                    {{ include('publisher/_view.html.twig') }}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="app-store" role="tabpanel" aria-labelledby="app-store-tab">
            {% for publisher in publishers %}
                {% if publisher.type == constant('App\\Entity\\Publisher::TYPE_APP_STORE') %}
                    {{ include('publisher/_view.html.twig') }}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

<script>
    $(function () {
        $('input.ip-address').mask('0ZZ.0ZZ.0ZZ.0ZZ', { translation: { 'Z': { pattern: /[0-9]/, optional: true } } });

        $('[data-toggle="popover"]').popover();
        $('.popover-dismiss').popover({trigger: 'focus'});

        $('[data-toggle="tooltip"]').tooltip({ boundary: 'window' });

        $('body').on('click', '.modal-edit', function(){
            $('#editModal .modal-body').html('Loading...').load($(this).data("remote"), function () {
                $('#editModal input.ip-address').mask('0ZZ.0ZZ.0ZZ.0ZZ', { translation: { 'Z': { pattern: /[0-9]/, optional: true } } });
            });
            $('#editModal').modal();
        });
    });
</script>

{% endblock %}
