{% extends 'layout.html.twig' %}

{% block title %}Publishers{% endblock %}

{% block body %}
<style>
  body {
  }
  #accordion {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:  1em;
    line-height: 1;
    font-weight: 200 !important;
    width: 100%;
  }
  .monospace {
    font-family: Lucida Console, Courier, monospace;
  }
  .w-100px {
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
  }
  .w-50px {
    width: 50px !important;
  }
  .w-25px {
    width: 25px !important;
  }
  .w-10px {
    width: 10px !important;
  }
  .fiolent {
    color: #A593E0;
  }
  .gray-butvin {
    color: #E0E3DA;
  }
  .dark-butvin {
    color: #566270;
  }
  .white-butvin {
    color: #FFFFF3;
  }
  .danger-butvin {
    background: tomato;
    /*background: #F68657;*/
    color: #FFFFF3;
  }
</style>
<!-- Form layout -->
<div class="container-fluid">
    {{ include('publisher/_form.html.twig') }}
</div>

<!-- MAIN -->
<div class="container-fluid">
    <!-- Accordion layout -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="jumbotron jumbotron-fluid pt-2 pb-2 m-2 shadow">
                        <div class="container-fluid">
                            <h1 class="display-5 text-capitalize">Publishers overviews</h1>
                            <p class="lead monospace h1">
                                Active publishers on target
                                <span class="badge badge-pill badge-dark">{{ publishers|length }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="all" class="tab-pane fade show active w-100" role="tabpanel" aria-labelledby="all-tab">
                {% for publisher in publishers %}
                    {{ include('publisher/tab_view.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5" id="editModalLabel">Edit </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script>
    $(() => {
        const translation = {
            translation: {
                'Z': {
                    pattern: /[0-9]/,
                    optional: true
                }
            }
        };
        const pattern = '0ZZ.0ZZ.0ZZ.0ZZ';

        $('[data-toggle="popover"]').popover()
        $('.popover-dismiss').popover({trigger: 'focus'})
        $('[data-toggle="tooltip"]').tooltip({boundary: 'window'})
        $('input.ip-address').mask(pattern, translation)

        $('body').on('click', '.modal-edit', function () {
            $('#editModal .modal-body').html('Loading...').load($(this).data("remote"), function () {
                $('#editModal input.ip-address').mask(pattern, translation);
            });
            $('#editModal').modal({
            });
        });
    });
</script>
{% endblock %}
